.cardHeader {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	color: #2e2e2e;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	.backButton {
		border-radius: 10px !important;
		background: #f5f5f5;
		padding: 9px;
		cursor: pointer;
		width: 40px;
		height: 40px;
	}
}

.bookingFullName {
	margin-bottom: 10px;
	p {
		color: #2e2e2e;
		font-size: 12px;
		margin-top: 15px;
		margin-bottom: 5px;
		margin-left: 3px;
	}
	h2 {
		padding: 15px;
		align-items: center;
		gap: 10px;
		border-radius: 10px;
		background: #f5f5f5;
		color: #2e2e2e;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
}
.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.bookingFormat {
	p {
		color: #2e2e2e !important;
		font-size: 12px;
		margin-bottom: 3px;
		margin-left: 3px;
	}
	h3 {
		padding-left: 15px;
	}
	h4 {
		display: flex;
		justify-content: center;
		background-color: rgba(134, 76, 233, 0.1);
		text-align: center;
		height: 50px;
		width: 100% !important;
	}
}

.bookingSelect {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 160px !important;
	height: 50px;
	border-radius: 10px;
	background: #f5f5f5;
	color: #2e2e2e;
	font-family: 'Montserrat', sans-serif !important;
	margin-bottom: 10px;
	text-transform: capitalize;
	touch-action: manipulation;
	@media screen and (max-width: 400px) {
		width: 155px !important;
	}
}
.btn {
	display: flex;
	width: 100%;
	padding: 20px 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-style: normal;
	font-size: 15px;
	text-align: center;
	border-radius: 10px;
	background: #864ce9;
	color: #ffffff;
}
