.business-block {
	margin: 5vw 0;
	display: flex;
	align-items: center;
	@media (max-width: 500px) {
		flex-direction: column;
		width: 100%;
	}

	&__item {
		margin-bottom: 2vw;
	}
	&__text {
		width: 50%;
		padding-top: 4vw;
		@media (max-width: 500px) {
			width: 100%;
		}
		.main-title {
			white-space: nowrap;
			font-family: Montserrat;
			color: #4a4a4a;
			font-size: 3vw;
			font-weight: 900;
			@media (max-width: 450px) {
				font-size: 20px;
			}
		}
		.title {
			color: #9f67fd;
			font-family: Montserrat;
			font-size: 1.5vw;
			font-weight: 500;
			@media (max-width: 450px) {
				font-size: 16px;
			}
		}
		.text {
			width: 90%;
			font-family: Montserrat;
			font-size: 1vw;
			color: #4a4a4a;
			font-style: normal;
			font-weight: 400;
			@media (max-width: 450px) {
				font-size: 13px;
			}
		}
	}
	&__button {
		max-height: 6vw;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #9f67fd;
		border: none;
		padding: 6% 10%;
		border-radius: 50px;
		color: #fff;
		font-family: Montserrat;
		margin-top: 20px;
		font-size: 1vw;
		@media (max-width: 450px) {
			font-size: 13px;
		}
		&:hover {
			background-color: #7ed957;
			color: white !important;
		}
	}
	&__illustration {
		margin-top: 5vw;
		width: 70%;
		height: 100%;
		@media (max-width: 500px) {
			width: 100%;
			text-align: center;
		}
		.business-illustration {
			width: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
}
