.detailed_profile_content {
	display: flex;
	flex-direction: row;
	padding: 0 38px;

	.item_content {
		padding: 40px;
		background-color: #fff;
		position: relative;
		margin: 0 30px 0 0;
		border-radius: 20px;
		width: 100%;
	}
	.purple_circle {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 999;
	}
	@media screen and (max-width: 900px) {
		flex-direction: column-reverse;
		align-items: center;
		background-color: #fff;
		border-radius: 20px;
		padding: 20px 0 0 0;
		.item_content {
			padding: 30px;
			margin: 0;
		}

		.purple_circle {
			display: none;
		}
	}
}
